@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-table {
        @apply table-auto w-full border-collapse;
    }
    .custom-table th {
        @apply border-b dark:border-slate-600 font-medium pt-0 p-4 pl-8 text-slate-400 dark:text-slate-200 text-left;
    }
    .custom-table td {
        @apply border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400;
    }
    .btn-primary {
        @apply font-semibold bg-indigo-500 py-2 px-4 rounded-md text-sm;
    }
    .btn-secondary {
        @apply font-semibold bg-blue-200 py-2 px-4 rounded-md text-sm;
    }
    .running-problems a {
        background: #22252f;
        min-width: 300px;
        @apply py-3 px-6 my-1 rounded-md;
    }
    .input-text {
        @apply h-9 w-72 border-gray-700 border px-2.5 text-sm hover:border-gray-600 focus:outline-none focus:border-gray-500 rounded-md bg-blue-200;
    }
    .test-table {
        @apply table-auto border-collapse font-mono text-left text-sm mt-6;
        width: 600px;
    }
    .test-table th {
        @apply py-1.5 px-3 bg-blue-200;
    }
    .test-table td {
        @apply py-1.5 px-3;
        background: #303958;
    }
    .test-table table,
    .test-table td,
    .test-table th {
        border: 1px solid #5b76a1;
    }
}

.navbr {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}

.extra {
    margin-left: 60px;
    color: grey;
}

.first {
    color: white;
    background: #1e293b;
    border: 1px solid #101425;
    border-radius: 30px;
    padding: 8px 30px 8px 30px;
}
.custom-width {
    width: 3;
}
