.content {
  max-width: 1080px;
}
.signup-image {
  background-image: url(signup-image.webp);
  height: inherit;
  background-position: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
