@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navbar-link {
        @apply inline px-6;
    }

    .landing-email-input {
        background-color: #1d2331;
    }

    .btn-landing {
        background-color: #6e6aff;
        @apply py-4 px-6 rounded-md;
    }

    .sitemap li {
        @apply my-1 text-white/75;
    }

    .section-border {
        @apply border-t-2;
        border-color: #303030;
    }

    .bg-landing {
        background: radial-gradient(62.01% 62.01% at 50% 37.99%, #101425 18.16%, #0e0d12 100%);
    }

    .bg-solid {
        background: #0e0d12;
    }
    .settextbox {
        @apply bg-transparent p-0 border-none ring-0 focus:ring-0;
    }
}
