<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}} - codeflow</title>
        <link rel="stylesheet" href="/src/styles/index.css" />
    </head>

    <body>
        <div class="bg-blue-950 text-white bg-landing">
            <nav class="flex max-w-7xl mx-auto pt-9 text-sm">
                <a class="flex-none text-xl font-bold" href="index.html">codeflow</a>
                <ul class="grow text-center" id="nav-center">
                    <li class="navbar-link"><a href="contests.html">Contests</a></li>
                    <li class="navbar-link"><a href="problemset.html">Problemset</a></li>
                    <li class="navbar-link"><a href="playground.html">Playground</a></li>
                </ul>
                <a class="flex-none" href="login.html">Login</a>
            </nav>
            <block name="headbody"></block>
        </div>
        <block name="body"></block>
        <div class="py-16 text-white section-border bg-solid">
            <div class="flex max-w-7xl mx-auto">
                <div class="w-2/5 font-mono">codeflow.</div>
                <div class="w-1/5 sitemap">
                    <h3>Product</h3>
                    <ul class="mt-9">
                        <li>Problemset</li>
                        <li>Contests</li>
                        <li>Playground</li>
                        <li>Sign in</li>
                        <li>Register</li>
                        <li>User search</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="w-1/5 sitemap">
                    <h3>Company</h3>
                    <ul class="mt-9">
                        <li>Members</li>
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="w-1/5 sitemap">
                    <h3>Community</h3>
                    <ul class="mt-9">
                        <li>Discord</li>
                        <li>Facebook</li>
                        <li>GitHub</li>
                    </ul>
                </div>
            </div>
        </div>
        <block name="script"> </block>
    </body>
</html>
